body {
    font-family: 'Roboto', sans-serif;
}
.alert-container{

}
.callout-container{
    height: 100vh;
  background: url("../images/whiskey-img.jpg") no-repeat bottom center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.quotes-container{

}
.features-container{

}